[submodule "dep/wtl"]
	path = dep/wtl
	url = https://github.com/devwarecl/wtl.git
[submodule "dep/fmt"]
	path = dep/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "dep/cxxopts"]
	path = dep/cxxopts
	url = https://github.com/jarro2783/cxxopts.git
[submodule "dep/yaml-cpp"]
	path = dep/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp.git
