
C. CONSTRAINTS
    C.1: Use C/C++ as the base programming language.

NFR. NON-FUNCTIONAL REQUIREMENTS
NFR.1 Cross-Platform
    - Support for Windows 7/8/8.1/10 
    - Support for Linux
        
FR. FUNCTIONAL REQUIREMENTS
FR.1: Support for multiple programming languages
    Some programming languages we could support natively are:
        - C/C++ with Assembler
        - Python 
        - Java

FR.2: Support for multiple build tools

FR.3: Support for cross-platform compilers
